<p id="notice"><%= notice %></p>

<h1>Categories</h1>
<div class="content">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <% if category.name != nil && category.name !="" %>
              <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
      </tr>
      <% end %>

    <% end %>
  </tbody>
</table>
</div>


<br>

<%= link_to 'New Category', new_category_path %>
